<%- include ('components/header.ejs') %>

    <body>
        <%- include ('components/navbar.ejs') %>

            <%- include ('components/question.ejs') %>
    </body>
    <%- include ('components/footer.ejs') %>